
p1-your-first-neural-network/.ipynb_checkpoints/dlnd-your-first-neural-network-checkpoint.ipynb

*.p
p2-image-classification/preprocess_batch_3.p
p2-image-classification/cifar-10-python.tar.gz
p2-image-classification/cifar-10-batches-py/**
p2-image-classification/__pycache__/**
p2-image-classification/image_classification.data-00000-of-00001

p3-tv-script-generation/save.meta
p3-tv-script-generation/save.data-00000-of-00001
p3-tv-script-generation/save.index

**/__pycache__/**

p5-face_generation/data/**
p5-face_generation/.ipynb_checkpoints/dlnd_face_generation-checkpoint.ipynb
